# Pivotación de tablas

Vamos a ver cómo transformar las tablas de formato ancho a largo y viceversa

In [1]:
import pandas as pd

In [2]:
air = pd.read_csv("dat/airquality.csv")
air.head()

   ozone  wind  temp  month  day  solar_r
0   41.0   7.4    67      5    1    190.0
1   36.0   8.0    72      5    2    118.0
2   12.0  12.6    74      5    3    149.0
3   18.0  11.5    62      5    4    313.0
4    NaN  14.3    56      5    5      NaN

## Melt: de ancho a largo

Para pasar de formato ancho a largo, podemos usar [`melt`](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.melt.html)

In [3]:
air_long = air.melt(id_vars=['month', 'day'])
air_long.head()

   month  day variable  value
0      5    1    ozone   41.0
1      5    2    ozone   36.0
2      5    3    ozone   12.0
3      5    4    ozone   18.0
4      5    5    ozone    NaN

Vemos que, para cada mes y día, ahora contamos con dos columnas: la variable medida y su valor.

En el formato largo, cada fila cuenta con el índice (en este caso, mes y día), un valor, y etiquetas del valor.

## Pivot: de largo a ancho

Para pasar de formato largo a ancho, podemos usar [`pivot_table`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)

In [4]:
air_wide = air_long.pivot_table(index=['month', 'day'], columns='variable', values='value')
air_wide.head()

variable   ozone  solar_r  temp  wind
month day
5     1     41.0    190.0  67.0   7.4
      2     36.0    118.0  72.0   8.0
      3     12.0    149.0  74.0  12.6
      4     18.0    313.0  62.0  11.5
      5      NaN      NaN  56.0  14.3

Los índices jerárquicos suelen ser incómodos para tratar la tabla. Podemos quitarlo con `reset_index()`

In [5]:
air_wide = air_wide.reset_index()
air_wide.head()

variable  month  day  ozone  solar_r  temp  wind
0             5    1   41.0    190.0  67.0   7.4
1             5    2   36.0    118.0  72.0   8.0
2             5    3   12.0    149.0  74.0  12.6
3             5    4   18.0    313.0  62.0  11.5
4             5    5    NaN      NaN  56.0  14.3

#### Referencia

Puedes consultar la guía completa de pandas sobre pivotación [aquí](http://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html)